.add-list {
  &__popup {
    width: 235px;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px;
    .button {
      width: 100%;
      margin-top: 15px;
    }
  }
}
.button {
  background: #4dd599;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  outline: none;
  &:hover {
    background: darken(#4dd599, 6%);
  }
  &:active {
    background: darken(#4dd599, 10%);
  }
}
.field {
  background: #fff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  padding: 8px 12px;
  width: 100%;
  &:focus {
    border-color: #dbdbdb;
  }
}

.add-list__popup-colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  .badge {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 2px solid transparent;
    &.active {
      border: 2px solid #525252;
    }
  }
}
.add-list__popup-close-btn {
  position: absolute;
  right: -8px;
  top: -8px;
  cursor: pointer;
}
.listInfo {
  font-size: 13px;
  margin: 15px;
  padding: 15px;
  border: 1px solid #c9d1d3;
  border-radius: 4px;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__1 {
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: #c9d1d3;
  }
  &__2 {
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: #64c4ed;
  }
  &__3 {
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: #ffbbcc;
  }
}
.mobalPopup {
  margin: 0 auto;
  max-width: 500px;
  margin-top: 70px;
  padding-top: 40px;
  background: #fff;
  padding-bottom: 40px;
  text-align: center;
  border: 1px solid #98b9f9;
  border-radius: 20px;
  h3 {
    font-size: 30px;
    line-height: 30px;

    color: #000000;
    margin-bottom: 50px;
  }
  button {
    display: block;
    text-align: center;

    outline: none;
    width: 150px;
    height: 40px;
    border: 0;
    background: #98b9f9;
    mix-blend-mode: normal;
    border-radius: 40px;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    margin: 0 auto;
    color: #000000;
    margin-bottom: 14px;
  }
}
