.list {
  $self: &;
  &__add-button {
    opacity: 0.4;
    transition: 0.5s;
    &:hover {
      opacity: 1;
      transition: 0.5s;
    }
  }
  &__remove-icon {
    opacity: 0;
  }
  li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 10px 12px;
    &:hover #{$self}__remove-icon {
      opacity: 0.2;
      transition: 0.5s;
    }
    #{$self}__remove-icon {
      opacity: 0;
      transition: 0.5s;
      &:hover {
        opacity: 0.8;
      }
    }

    &.active {
      background-color: #fff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }
    span {
      flex: 1;
    }
  }
  i {
    margin-right: 10px;
  }
  .badge {
    width: 10px;
    height: 10px;
    border-radius: 30px;
    &--grey {
      background-color: #c9d1d3;
    }
    &--green {
      background-color: #42b883;
    }
    &--blue {
      background-color: #64c4ed;
    }
    &--red {
      background-color: #ffbbcc;
    }
  }
}
