.headerTodo {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  img {
    transition: 1s;
    &:hover {
      transition: 1s;
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}
