.formControl {
}
.formControl.error input,
.formControl.error textarea {
  border: 2px solid #df0c0c;
}

.formControl span {
  padding-left: 15px;
  padding-bottom: 15px;
  display: flex;
  color: #df0c0c;
}
.formSummaryError {
  border: 2px solid #df0c0c;
  padding: 5px;
}
