* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

body {
  font-size: -apple-system, system-ui, sans-serif;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.todo {
  display: flex;
  width: 100%;
  min-height: 500px;
  &__sidebar {
    background-color: #f4f6f8;
    width: 300px;
    height: 100%;
    padding: 60px 20px;
  }
  &__tasks {
    flex: 1;
    padding: 60px;
    overflow: auto;
  }
}
.button {
  background: #4dd599;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  outline: none;
  &:hover {
    background: darken(#4dd599, 6%);
  }
  &:active {
    background: darken(#4dd599, 10%);
  }
  &:disabled {
    background: #d8d8d8;
  }
}
.field {
  background: #fff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  padding: 8px 12px;
  width: 100%;
  &:focus {
    border-color: #dbdbdb;
  }
}
